.info{
  font-size: 15px;
  color: #989898;
}
a:link {
  text-decoration: none;
}
.read_more{
  color: blue;
}
.nav-container{
    position: relative;
    display: inline-block;
    width: 100%;
}
.nav-main{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: white;
  margin: 0 auto;
}
ul li a{
  text-align: left;
}
.form{
  margin-top: 250px;
}
.about{
  margin-top: 30%;
}
.errors{
  margin-top: 250px;
}
